<div class="big_wrapper" style="margin: 0px">
  <div class="wrapper" id="zero">
    <div class="point_copy" style="margin-top: -170px">
       <h3>
        Your money could grow faster than you think.
      </h3>
      <p>
        Adding the "Smart" back to your savings account.
      <p>
    <div class="progress progress-striped active">
        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
     <a style="font-family: Cursive; font-size: 100px; color: #2c3e50">1</a>
       <h3>
        Were you ever ...?
      </h3>
      <p> Frustrated with the "almost-zero" interest rate you're getting from your bank? Feared inflation will eat away the value of your savings, as you allow it to sit idle? Concerned about losing money in the stock market, and looking for a safer yet faster way to grow your savings? 
      <p>
    </div>

    <div class="point_copy right" style="background-color: white; display: inline; margin: -350px -320px 200px 200px">
    <img src="http://www.brimg.net/images/charts/trends/cd-rates-history.png" style="height: 350px; width: 700px"/>
    </div>
  </div>
</div>

<div class="big_wrapper" >
  <div class="wrapper" id="two">
    <div class="point_copy" style="margin-bottom: 100px">
     <a style="font-family: Cursive; font-size: 150px; color: green; margin: 200px 0px 300px 0px">4%+</a>
        <p>$0 Minimum; Month-to-Month Liquidity</p>
    </div> 
    
     <div class="point_copy right" style="background-color: transparent; margin: -100px 100px 300px 0px">
          <a style="font-family: Cursive; font-size: 100px; color: #2c3e50; width: 550px; margin: -200px -200px 500px 300px">2</a>
      <h3 style="margin: -200px -300px -50px 250px">
        What is Plato?
      </h3>
      <p style="width: 600px; font-size: 24px;margin: -350px -500px 0px 500px">
        Plato is a virtual currency that helps you make money in your sleep. It is a virtual version of your savings account, but generates a safe return meaningfully above savings rate offered by your bank. While rates may fluctuate, Plato customers on average enjoy an APR 3-4% above the bank savings rate. That means, if you put in $10,000 in your Plato Wallet™ today, you will make $1 more a day, risk-free!
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three"  >
    <div class="point_copy" style="background-color: transparent; height: 100%">
     <a style="font-family: Cursive; font-size: 100px; color: #2c3e50; margin: -300px 0px 300px 0x; height: 50px; display: border">3</a>
      <h3 >
        How in the world are you able to do that? Is it safe?
      </h3>
      <p style="width: 100%" >
        Because of their business model, banks have a huge operating overhead and invests most of your savings into lower-yielding personal and corporate loans. Because we are not a bank, we can take advantage of tools available to help you maximize <em>YOUR</em> interest. Fund Plato is run by experienced finance and risk professionals and provides contractual guarantees for every Plato dollars purchased. We employ a variety of sophisticated risk management tools to give you a peace of mind. 
      <p>
    </div>
      <div class="point_copy right" style="background-color: white; width: 400px; display: border; margin: -500px 100px 500px 200px">
    <img style="width: 400px; height: 400px" src="http://us.cdn3.123rf.com/168nwm/chuhail/chuhail1302/chuhail130200129/18010329-cartoon-safe.jpg"/>
    </div>
  </div>
</div>


<div class="big_wrapper">
  <div class="wrapper" id="four" >
    <div class="point_copy right" style="background-color: white; margin: auto; width: 100%">
      <h3>
        How much more can I make? 
      </h3>
 
 <div class="input-group" style="width: 600px; margin: auto">
  <span class="input-group-addon">$</span>
  <input type="text; width: 50%" class="form-control">
  <span class="input-group-addon">.00</span>
</div>

      <h3>
        Apply now for our private beta...
      </h3>
   <div class="col-lg-6">
    <div class="input-group" style="width: 1200px; margin: auto">
      <input type="text; width: 100%; margin: auto" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Apply for Beta</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
    </div>
  </div>
</div>
